* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

/* header section */
header {
    height: 100vh;
    width: 100%;
    background-image: url(./images/wow.png);
    background-size: cover;
    background-position: center;
    position: relative;
}

header h1 {
    display: inline-block;
    font-size: 100px;
    color: #f8f8ff;
    justify-content: space-between;
    text-shadow: 5px 4px 0px black;
    padding-top: 15px;
    margin-left: 20px;
}

/* for the nav */
nav {
    color: #f8f8ff;
    padding-top: 15px;
    margin-right: 20px;
    float: right;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 50px;
    text-shadow: 5px 4px 0px black;
    justify-content: space-evenly;
}

nav a {
    list-style-type: none;
    padding: 2px 6px;
    border-radius: 4px;
    transition: all 500ms ease;
    display: inline-block;
    margin-left: 9px;
}

/* styling hyperlink */
nav a:hover {
    background-color: #f8f8ff;
    color: black;
    text-shadow: none;
}

a:focus{
    border-radius: 10%;
    background-color: lightgrey;
    color: rgba(70,60,195,255);
  }
  
a:hover,
a:focus {
    transform: translateX(2px) translateY(-2px);
  }

a {
    color: #ffffff;
    text-decoration: none;
}

/* for the body of the page */
main {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin: 0 auto;
    justify-content: center;
    margin-top: 20px;
}

main article {
    margin-bottom: 20px;
    padding: 50px;
    height: 460px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 40px;
    line-height: 2;
    width: 100%;
    background-image: linear-gradient(to bottom right, black, rgba(70,60,195,255));
    color: #ffffff;
    justify-content: center;
    align-items: center;
    height: auto;
}

h2 {
    text-shadow: 4px 2px 0px black;
}

.section-large {
    display: flex;
    flex-direction: row;
    justify-content: center;
    border: solid #f8f8ff;
    padding-top: 75px;
    padding-bottom: 75px;
    margin: 100px;
    transition: 1.5s ease;
}

.section-large:hover{
    color: rgba(70,60,195,255);
    background-color: black;
    background-size:contain;
    background-position:center;
    border-radius:50%;
}

.section-small {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.small-song {
    display: flex;
    flex-direction: row;
    justify-content: center;
    border: solid #f8f8ff;
    padding: 75px;
    width: 33%;
    transition: 0.3s ease;
    margin-top: 25px;
}

section a {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    transition: all 250ms ease;
}

section img {
    border-radius: 100%;
    margin-top: auto;
    width: 20%;
    display: flex;
    height: auto;
    flex: 0 0 300px;
    transform: translateX(2px) translateY(-2px);
    transition: all 250ms ease-out;
}

.section image:hover {
    transform: translateX(2px) translateY(-2px);
    box-shadow: 10px 10px 16px rgba(0,0,0,0.5);
  }


main img {
    margin-top: auto;
    margin-bottom: auto;
    display: flex;
    width: 20%;
    height: auto;
}

.container{
    height: 1500px;
    width: 100%;
    background-image: url(wow.png);
    background-size: cover;
    flex: auto;
    background-position: center;
}

.navbar {
    position: fixed;
    top: 0;
    width: 100%;
}

.float-left {
    float: left;
    margin-right: 25px;
    border-radius: 10%;
}

.float-right {
    float: right;
    margin-left: 30px;
    border-radius: 10%;
}

button {
    list-style-type: none;
    padding: 2px 6px;
    /* I don't know whether or not I should put a border */
    border: 2px solid #f8f8ff;
    border-radius: 4px;
    transition: all 500ms ease;
    display: inline-block;
    margin-left: 9px;
}

footer {
    padding: 30px;
    clear: both;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
}

.icon {
    height: 40px;
    width: 40px;
    padding: 10px;
}